<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container rounded bg-white mt-5 mb-5 " >
  <div class="row">
      
      <div class="col-md-12 col-12 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Edit Product Settings</h4>
              </div>
         

  
              <form action="/admin/edit-cakes?id={{product._id}}" enctype="multipart/form-data" method="POST"  class="form-horizontal" role="form" style="border: solid; border-color: rgb(240, 239, 239); border-width: 0 2px 0px 1px;">

                <div class="form-group">
               
                     
                   <label for="name" class="col-sm-3 control-label font-weight-bold">Product name</label>
                   <div class="col-sm-9">
                     <input type="text" class="form-control" name="Name" id="name" value="{{product.Name}}" placeholder="Enter Your Product Name">
                   </div>
                     <label for="name" class="col-sm-3 control-label font-weight-bold">Cake Flavour</label>
                   <div class="col-sm-9">
                     <input type="text" class="form-control" name="flavour" id="name"  value="{{product.flavour}}" placeholder="Enter Your Product Flavour" required>
                   </div>
                 </div> <!-- form-group // -->
                 <div class="form-group">
                   <label for="name" class="col-sm-3 control-label font-weight-bold"><i class="fa fa-inr pr-2" aria-hidden="true"></i> Price</label>
                   <div class="col-sm-9">
                     <input type="text" class="form-control" name="Price" id="name" value="{{product.Price}}" placeholder="₹ Enter the Price">
                   </div>
                   
                 </div> <!-- form-group // -->

                 <div class="form-group">
                   <label for="name" class="col-sm-3 control-label font-weight-bold">Only 1kg available?</label>
                   <div class="col-sm-9">
                    
                     <input type="radio" name="kgstatus" class="ml-4" value="yes"   required> Yes
                    <input type="radio"  name="kgstatus" class="ml-4"  value="no" required> No

                   </div>
                 </div> <!-- form-group // -->
                 {{#if product.defaultweight}}

 <label for="name" class="col-sm-3 control-label font-weight-bold">If it is only one weight available enter weight</label>
                   <div class="col-sm-9">
                     <input type="text" class="form-control" name="defaultweight" id="name" value="{{product.defaultweight}}"  >
                   </div>

                 {{else}}

<label for="name" class="col-sm-3 control-label font-weight-bold">If it is only one weight available enter weight</label>
                   <div class="col-sm-9">
                     <input type="text" class="form-control" name="defaultweight" id="name" value="1"  placeholder="Enter Your Product Flavour" >
                   </div>
                 {{/if}}
                   
                 <div class="form-group">
                   {{!-- <label for="qty" class="col-sm-3 control-labe font-weight-bold">Estimated Deliver Date</label>
                   <div class="col-sm-3">
                  <input type="text" class="form-control" name="EstimateDelivery" id="qty" placeholder="Delivery Date">
                   </div> --}}
                   <STRONG class="col-sm-3 control-label font-weight-bold">Category</STRONG> <br>

                   <input type="radio" value="Cream" name="Category" class="ml-4">Cream
                   <input type="radio" value="Plum" name="Category" class="ml-3">Plum 
                   <br><br>
                
                 
                   <label for="name" class="col-sm-3 control-label font-weight-bold">Product Description</label>
                   <div class="col-sm-9">
                     <textarea class="form-control" name="ProductDescription"  id="exampleFormControlTextarea1" rows="3" placeholder="Product Description" >{{product.ProductDescription}}</textarea>
                   </div>
               
               

   
                 <div class="form-group">
                   <label for="name" class="col-sm-3 control-label mt-3 font-weight-bold">Insert Image</label>
                   <div class="col-sm-3">
                     <label  class="control-label small " for="file_img">Image 1 (jpg/png):</label> <input type="file" onchange="viewImage1(event)"  name="Image1">
                   </div> 
                       <img src="/product-images/{{product._id}}1.jpg" class=" mt-5" style="width: 200px; height:auto" id="imgView1">
                 <div class="col-sm-3">
                     <label class="control-label small" for="file_img">Image 2 (jpg/png):</label>  <input type="file" onchange="viewImage2(event)" name="Image2">
                   </div>
                       <img src="/product-images/{{product._id}}2.jpg" class=" mt-5" style="width: 200px; height:auto" id="imgView2">
                   <div class="col-sm-3">
                     <label class="control-label small" for="file_img">Image 3 (jpg/png):</label>  <input type="file" onchange="viewImage3(event)" name="Image3">
                   </div>
                       <img src="/product-images/{{product._id}}3.jpg" class=" mt-5" style="width: 200px; height:auto" id="imgView3">

                 </div> <!-- form-group // -->



                 </div> <!-- form-group // -->
                
                 <div class="form-group">
                   <div class="col-sm-offset-3 col-sm-9">
                     <button type="submit" class="btn btn-primary m-3">Submit</button>
                   </div>
                 </div> <!-- form-group // -->
               </form>
                 
               </div><!-- panel-body // -->
               </section><!-- panel// -->
               
                 
               </div> <!-- container// -->
               
          </div>
      </div>
 
  </div>
</div>
</div>
</div>



<style>
  body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
</style>


<script>
    function viewImage1(event){
        document.getElementById('imgView1').src=URL.createObjectURL(event.target.files[0])
    }
      function viewImage2(event){
        document.getElementById('imgView2').src=URL.createObjectURL(event.target.files[0])
    }
      function viewImage3(event){
        document.getElementById('imgView3').src=URL.createObjectURL(event.target.files[0])
    }
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

