<link rel="stylesheet" href="css/cart.css">

<div class="card">
            <div class="row cart-text">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col"><h4><b>Shop Now</b></h4></div>
                            <div class="col align-self-center text-right text-muted">1 item</div>
                        </div>
                    </div>    
                    
                
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="/product-images/{{product._id}}1.jpg"></div>
                            <div class="col">
                                <div class="row text-muted">{{product.Category}}</div>
                                <div class="row">{{product.Name}}</div>
                            </div>
                            <div class="col">
                                <a class="cursor-property" style="" onclick="changeQuantity('{{product._id}}',-1)">-</a>
                                <a href="#" id="{{product._id}}" class="border">{{product.quantity}}</a>
                                <input type="text" id="getProId" name="proid" value="{{product._id}}" hidden>
                                <a class="cursor-property" onclick="changeQuantity('{{product._id}}',1)">+</a>
                            </div>
                            <div class="col">₹ {{product.Price}} <a  onclick="removeCartItem('{{this._id}}','{{product._id}}')" class="close cursor-property">&#10005;</a></div>
                        </div>
                    </div>
                   
                    
                    <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
                </div>
                
                <div class="col-md-4 summary">
                    <div><h5><b>Summary</b></h5></div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">ITEMS 1</div>
                        <div id="prodprice" class="col text-right">₹ {{product.Price}}</div>
                    </div>
                    <form action="/checkout" id="form1" method="get">
                        <p>PINCODE</p>
                         <input id="pincode" type="number"  name="pincode" placeholder="Enter your pincode">
                        {{!-- <select><option class="text-muted">Standard-Delivery- &euro;5.00</option>
                        <option class="text-muted">Standard-Delivery- &euro;5.00</option></select> --}}
                 
                        <p>DISCOUND COUPON</p>
                        <input  onfocusout="CouponValidate()" name="coupon" id="code" placeholder="Enter your code">
                       
                        <p id="errorcpnmsg" ></p>
                    
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">TOTAL PRICE</div>
                        <div id="prodtotal" class="col text-right">₹ {{product.Price}} </div>
                         <input name="fullTotal" id="prototal" value="{{product.Price}}" type="text" hidden>
                    </div>
                    <p id="errormsg" class="text-danger"></p>
                    </form>
                    <button id="checkout"  class="btn ">CHECKOUT</button>
                    
                </div>
            </div>
            
        </div>

         <footer class="mobile-footer">
  <div class="mdc-bottom-navigation pt-2 fixed-bottom  mt-5">
        <nav class="mdc-bottom-navigation__list">
            <span class="mdc-bottom-navigation__list-item mdc-ripple-surface mdc-ripple-surface--primary"
                data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
                <span class="material-icons">home</span>
               <a href="/"> <span class="mdc-bottom-navigation__list-item__text">Home</span></a>
            </span>

            <span class="mdc-bottom-navigation__list-item mdc-ripple-surface mdc-ripple-surface--primary"
                data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
                <span class="material-icons">
moped
</span>
              <a href="/cart"> <span class="mdc-bottom-navigation__list-item__text">Order</span></a>
            </span>

            <span
            {{!-- mdc-bottom-navigation__list-item--activated --}}
                class="mdc-bottom-navigation__list-item  mdc-ripple-surface mdc-ripple-surface--primary"
                data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
                
                   <span class="material-icons">
favorite
</span>

                <span class="mdc-bottom-navigation__list-item__text">Wishlist</span>
            </span>
            
            <span class="mdc-bottom-navigation__list-item mdc-ripple-surface mdc-ripple-surface--primary"
                data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
              <a href="/profile"> <span class="material-icons">
account_circle
</span></a>
                <span class="mdc-bottom-navigation__list-item__text">Profile</span>
            </span>
        </nav>
    </div>
</footer>

<footer>



<script>
  function changeQuantity(proId,count){
    
   let quantity=parseInt(document.getElementById(proId).innerHTML)
   let prodPrice=document.getElementById('prodprice').innerHTML
prodPrice=prodPrice.slice(2);
prodPrice=parseInt(prodPrice)
   count=parseInt(count)
    
    if(quantity===1 && count===-1){


          alert("product removed from cart")
          window.location.href='/products-page'
    
    }
        else{
          nwq=quantity+count
          document.getElementById(proId).innerHTML=nwq
          document.getElementById('prodtotal').innerHTML="₹"+prodPrice*nwq;
           document.getElementById('prototal').innerHTML="₹"+prodPrice*nwq;
              document.getElementById('prototal').value=prodPrice*nwq;
          //document.getElementById('alltotal').innerHTML=response.allTotal
        }
  }

  
    document.querySelector("#checkout").addEventListener("click", function(){
 let pincode = document.getElementById('pincode').value;
var pincodeList=["683556", "683101", "683585","683547"];
check=pincodeList.includes(pincode)
 document.getElementById("errormsg").innerHTML = " "
total=document.getElementById('prodtotal').innerHTML
total=total.slice(1);
let inttotal=parseInt(total)


 if(pincode.length==0){
  alert("Please enter pincode")
  
 }else{


    if(check){  
         let proID = document.querySelector('#getProId').value;
      let quantity=parseInt(document.getElementById(proID).innerHTML) 
      $.ajax({
        url:'/tempCart',
        data:{
proid:proID,
quantity:quantity,
        }, 
        method:'post',
      success:(res)=>{
 document.getElementById("form1").submit();
      }
    })
}
else{
  
    document.getElementById("errormsg").innerHTML = "Currently delivery not available to your area"
    return false;
}
 }
    })




 function removeCartItem(){

 window.location.href='/products-page'

  }

 function CouponValidate(){
  total=document.getElementById('prodtotal').innerHTML
  
  total=total.slice(2);
total=parseInt(total)
let discountCode = document.getElementById('code').value;
document.getElementById("errorcpnmsg").innerHTML = " "
if(discountCode.length==0){
  alert("Please enter discount code")
  return 
 }else{
 $.ajax({
      url:'/Validate-discount-coupon',
      
      data:{
        discountCode:discountCode,
        total:total
         
      },
      method:'post',
      success:(response)=>{

        if(response.valid){
document.getElementById("code").disabled = true;
document.getElementById("errorcpnmsg").style.color = "black";



        document.getElementById("errorcpnmsg").innerHTML = "Coupon applied"
          document.getElementById('prodtotal').innerHTML="₹"+response.total
          document.getElementById('prototal').value=response.total
        
        }
        else{
         
document.getElementById("errorcpnmsg").style.color = "red";

          document.getElementById("errorcpnmsg").innerHTML = "Invalid coupon"
        }
      }    
    })


 }
 }


  </script>