<link rel="stylesheet" href="css/cart.css">

<div class="card">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col"><h4><b>Shopping Cart</b></h4></div>
                            <div class="col align-self-center text-right text-muted">3 items</div>
                        </div>
                    </div>    
                     {{#each products}}
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="/product-images/{{this.product._id}}1.jpg"></div>
                            <div class="col">
                                <div class="row text-muted">{{this.product.Category}}</div>
                                <div class="row">{{this.product.Name}}</div>
                            </div>
                            <div class="col">
                                <a class="cursor-propertyf" style="" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../userId}}',-1)">-</a>
                                <a href="#" id="{{this.product._id}}" class="border">{{this.quantity}}</a>
                                <a class="cursor-property" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../userId}}',1)">+</a>
                            </div>
                            <div class="col">₹ {{this.product.Price}} <a  onclick="removeCartItem('{{this._id}}','{{this.product._id}}')" class="close cursor-property">&#10005;</a></div>
                        </div>
                    </div>
                    {{/each}}
                    
                    <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
                </div>
                <div class="col-md-4 summary">
                    <div><h5><b>Summary</b></h5></div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">ITEMS 3</div>
                        <div class="col text-right">₹ {{total}}</div>
                    </div>
                    <form>
                        <p>PINCODE</p>
                         <input id="pincode" placeholder="Enter your pincode">
                        {{!-- <select><option class="text-muted">Standard-Delivery- &euro;5.00</option>
                        <option class="text-muted">Standard-Delivery- &euro;5.00</option></select> --}}
                      </form>
                        <p>DISCOUND COUPON</p>
                        <input  onfocusout="CouponValidate({{total}})" id="code" placeholder="Enter your code">
                        <p id="errorcpnmsg" ></p>
                    </form>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">TOTAL PRICE</div>
                        <div id="prodtotal" class="col text-right">₹ {{total}} </div>
                    </div>
                    <p id="errormsg" class="text-danger"></p>
                    <button id="checkout"   class="btn ">CHECKOUT</button>
                </div>
            </div>
            
        </div>

         <footer class="mobile-footer">
  <div class="mdc-bottom-navigation pt-2 fixed-bottom  mt-5">
        <nav class="mdc-bottom-navigation__list">
            <span class="mdc-bottom-navigation__list-item mdc-ripple-surface mdc-ripple-surface--primary"
                data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
                <span class="material-icons">home</span>
               <a href="/"> <span class="mdc-bottom-navigation__list-item__text">Home</span></a>
            </span>

            <span class="mdc-bottom-navigation__list-item mdc-ripple-surface mdc-ripple-surface--primary"
                data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
                <span class="material-icons">
moped
</span>
              <a href="/cart"> <span class="mdc-bottom-navigation__list-item__text">Order</span></a>
            </span>

            <span
            {{!-- mdc-bottom-navigation__list-item--activated --}}
                class="mdc-bottom-navigation__list-item  mdc-ripple-surface mdc-ripple-surface--primary"
                data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
                
                   <span class="material-icons">
favorite
</span>

                <span class="mdc-bottom-navigation__list-item__text">Wishlist</span>
            </span>
            
            <span class="mdc-bottom-navigation__list-item mdc-ripple-surface mdc-ripple-surface--primary"
                data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
              <a href="/profile"> <span class="material-icons">
account_circle
</span></a>
                <span class="mdc-bottom-navigation__list-item__text">Profile</span>
            </span>
        </nav>
    </div>
</footer>

<footer>



<script>
  function changeQuantity(cartId,proId,userId,count){
   let quantity=parseInt(document.getElementById(proId).innerHTML)
   count=parseInt(count)
    $.ajax({
      url:'/change-product-quantity',
      
      data:{
        user:userId,
        cart:cartId,
        product:proId,
        count:count,
        quantity:quantity
      },
      method:'post',
      success:(response)=>{
        if(response.removeProduct){
          alert("product removed from cart")
          location.reload()
        }
        else{
          document.getElementById(proId).innerHTML=quantity+count
          document.getElementById('prodtotal').innerHTML=response.total
          //document.getElementById('alltotal').innerHTML=response.allTotal
        }
      }    
    })
  }

  
    document.querySelector("#checkout").addEventListener("click", function(){
 let pincode = document.getElementById('pincode').value;
var pincodeList=["683556", "683101", "683585","683547"];
check=pincodeList.includes(pincode)
 document.getElementById("errormsg").innerHTML = " "

 if(pincode.length==0){
  alert("Please enter pincode")
  return
 }else{


    if(check){
      
       window.location = '/checkout';
    
     
}
else{
  
    document.getElementById("errormsg").innerHTML = "Currently delivery not available to your area"
    
}
 }


    })


     function removeCartItem(cartId,proId){
    
 $.ajax({
      url:'/remove-cart-products',
      
      data:{
        cart:cartId,
        product:proId,
         
      },
      method:'post',
      success:(response)=>{
        if(response.removeProduct){
          alert("product removed from cart")
          location.reload()
        }
        
      }    
    })

  }

 function CouponValidate(total){
let discountCode = document.getElementById('code').value;
document.getElementById("errorcpnmsg").innerHTML = " "
  console.log(total)
if(discountCode.length==0){
  alert("Please enter discount code")
  return
 }else{
 $.ajax({
      url:'/Validate-discount-coupon',
      
      data:{
        discountCode:discountCode,
        total:total
         
      },
      method:'post',
      success:(response)=>{

        console.log(response)
        if(response.valid){
document.getElementById("code").disabled = true;
document.getElementById("errorcpnmsg").style.color = "black";



        document.getElementById("errorcpnmsg").innerHTML = "Coupon applied"
          document.getElementById('prodtotal').innerHTML="₹"+response.total
        }
        else{
         
document.getElementById("errorcpnmsg").style.color = "red";

          document.getElementById("errorcpnmsg").innerHTML = "Invalid coupon"
        }
      }    
    })


 }
 }


  </script>