<link rel="stylesheet" href="css/cart.css">

<div class="card cart-text">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col "><h4><b>Shopping Cart</b></h4></div>
                            <div class="col  align-self-center text-right text-muted">{{length}} items</div>
                        </div>
                    </div>    
                     {{#each products}}
                      <div class="col pt-3 pb-1">
                                <div class="row">{{this.product.Name}}</div>
                            </div>
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2 " style="margin-right: 5vh;"><img class="img-fluid" src="/product-images/{{this.product._id}}1.jpg"></div>
                
                            <div class="col">
                                <a class="cursor-property"  style="font-size: 15px;" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../userId}}',-1)">-</a>
                                <a href="#" class="" style="font-size: 15px;" id="{{this.product._id}}"  >{{this.quantity}}</a>
                                <a class="cursor-property" style="font-size: 15px;" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../userId}}',1)">+</a>
                            </div>
                            <div class="col ">₹ {{this.product.Price}}<a  onclick="removeCartItem('{{this._id}}','{{this.product._id}}')" class="close cursor-property">&#10005;</a></div>
                        </div>
                    </div>
                    {{/each}}
                    
                    <div class="back-to-shop"><a href="/">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
                </div>
                
                <div class="col-md-4 summary">
                    <div><h5><b>Summary</b></h5></div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">ITEMS {{length}}</div>
                        <div class="col text-right">₹ {{total}}</div>
                   
                    </div>

                    <form action="/checkout" id="form1" method="get">
                        <p>PINCODE</p>
                         <input class="inputPincode" id="pincode" type="number"  name="pincode" placeholder="Enter your pincode">
                        {{!-- <select><option class="text-muted">Standard-Delivery- &euro;5.00</option>
                        <option class="text-muted">Standard-Delivery- &euro;5.00</option></select> --}}
                 
                        <p>DISCOUND COUPON</p>
                        <input class="inputPincode" onfocusout="CouponValidate({{total}})" name="" id="code" placeholder="Enter your code">
                        <input name="fullTotal" id="prototal" value="{{total}}" type="text" hidden>
                             <input type="text" name="producttotal"  value="{{total}}" hidden>
<input type="text" id="coupon-pass" name="coupon" hidden>
                        <p id="errorcpnmsg" ></p>
                    
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">TOTAL PRICE</div>
                        <div id="prodtotal" class="col text-right">₹ {{total}} </div>
                    </div>
                    <p id="errormsg" class="text-danger"></p>
                    
                    </form>
                    <button id="checkout" type="submit"   class="btn ">CHECKOUT</button>
                </div>
            </div>
            
        </div>

         <footer class="mobile-footer">
  <div class="mdc-bottom-navigation pt-2 fixed-bottom  mt-5">
        <nav class="mdc-bottom-navigation__list">
            <span class="mdc-bottom-navigation__list-item mdc-ripple-surface mdc-ripple-surface--primary"
                data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
                <span class="material-icons">home</span>
               <a href="/"> <span class="mdc-bottom-navigation__list-item__text">Home</span></a>
            </span>

            <span class="mdc-bottom-navigation__list-item mdc-ripple-surface mdc-ripple-surface--primary"
                data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
                <span class="material-icons">
moped
</span>
              <a href="/cart"> <span class="mdc-bottom-navigation__list-item__text">Order</span></a>
            </span>

            <span
            {{!-- mdc-bottom-navigation__list-item--activated --}}
                class="mdc-bottom-navigation__list-item  mdc-ripple-surface mdc-ripple-surface--primary"
                data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
                
                   <span class="material-icons">
favorite
</span>

                <span class="mdc-bottom-navigation__list-item__text">Wishlist</span>
            </span>
            
            <span class="mdc-bottom-navigation__list-item mdc-ripple-surface mdc-ripple-surface--primary"
                data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>
              <a href="/profile"> <span class="material-icons">
account_circle
</span></a>
                <span class="mdc-bottom-navigation__list-item__text">Profile</span>
            </span>
        </nav>
    </div>
</footer>

<footer>



<script>
  function changeQuantity(cartId,proId,userId,count){
   let quantity=parseInt(document.getElementById(proId).innerHTML)
   count=parseInt(count)
    $.ajax({
      url:'/change-product-quantity',
      
      data:{
        user:userId,
        cart:cartId,
        product:proId,
        count:count,
        quantity:quantity
      },
      method:'post',
      success:(response)=>{
        if(response.removeProduct){
          alert("product removed from cart")
          location.reload()
        }
        else{
          document.getElementById(proId).innerHTML=quantity+count
          document.getElementById('prodtotal').innerHTML=response.total
           
          //document.getElementById('alltotal').innerHTML=response.allTotal
        }
      }    
    })
  }

  
    document.querySelector("#checkout").addEventListener("click", function(){
 let pincode = document.getElementById('pincode').value;
//var pincodeList=["683556", "683101", "683585","683547"];

$.ajax({
      url:'/checkPincode',
      data:{
        pincode:pincode,
        
      },
      method:'post',
      success:(response)=>{
     
        if(response){
    
 document.getElementById("errormsg").innerHTML = " "

/*total=document.getElementById('prodtotal').innerHTML
total=total.slice(1);
let inttotal=parseInt(total)*/

 if(pincode.length==0){
  alert("Please enter pincode")
  return
 }else{
    if(response.status==true){   
document.getElementById("form1").submit();
}
else{
    document.getElementById("errormsg").innerHTML = "Currently delivery not available to your area"
   
}
 }
        }
        else{
          alert("error")
        }
      }    
    })





    })




     function removeCartItem(cartId,proId){
    

    
 $.ajax({
      url:'/remove-cart-products',
      
      data:{
        cart:cartId,
        product:proId,
         
      },
      method:'post',
      success:(response)=>{
        if(response.removeProduct){
          alert("product removed from cart")
          location.reload()
        }
        
      }    
    })

  }

 function CouponValidate(total){
let discountCode = document.getElementById('code').value;
document.getElementById("errorcpnmsg").innerHTML = " "
  console.log(total)
if(discountCode.length==0){
  alert("Please enter discount code")
  return
 }else{
 $.ajax({
      url:'/Validate-discount-coupon',
      
      data:{
        discountCode:discountCode,
        total:total
         
      },
      method:'post',
      success:(response)=>{

        console.log(response)
        if(response.valid){
document.getElementById("code").disabled = true;
document.getElementById("coupon-pass").value=discountCode;
document.getElementById("errorcpnmsg").style.color = "black";



        document.getElementById("errorcpnmsg").innerHTML = "Coupon applied"
          document.getElementById('prodtotal').innerHTML="₹"+response.total
          document.getElementById('prototal').value=response.total
        }
        else{
         
document.getElementById("errorcpnmsg").style.color = "red";

          document.getElementById("errorcpnmsg").innerHTML = "Invalid coupon"
        }
      }    
    })


 }
 }


  </script>