<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"><div class="row">
  
   <div class="container">
  <div class="py-5 text-center">
    
    <h2>Checkout form</h2>
    {{!-- <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p> --}}
  </div>
<form action="/checkout" method="post" id="checkout-form">

  <div class="row container">
    
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Delivery address</h4>
      
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" name="name" id="firstName" placeholder="" value="{{useraddress.fullname}}" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          {{!-- <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div> --}}
        </div>
        
        <div class="mb-3">
          <label for="Mobile">Mobile Number</label>
          <input type="number" name="mobnum" class="form-control" id="phone" value="{{useraddress.mobnum}}" placeholder="Phone number" required>
        </div>
        <div class="mb-3">
          <label for="Mobile">Mobile Number<span class="text-muted">(Alternative Number)</span></label>
          <input type="number" name="altNum" class="form-control" id="phone" value="{{useraddress.altNum}}" placeholder="Alternative number" required>
        </div>
       
       <div class="row">
        <div class="mb-3 col-md-6">
        <label  for="Expected date">Expected Date:</label>
        <input class="form-control" type="date" id="date" name="expectedDate" value="{{expectedDate}}" required>
        </div>
        <div class="mb-3 col-md-6">
          <label  for="appt">Select a time:</label>
           <input class="form-control" type="time" id="appt" name="deliveryTime" value="{{deliveryTime}}" required>
        
         </div>
      </div>
      
       <div class="row">
        <div class="mb-3 col-md-6">
        <label for="place">Place</label>
        <input type="text" class="form-control" name="place" id="place" placeholder="Enter Your Place" value="{{useraddress.place}}" required>
        </div>
        <div class="mb-3 col-md-6">
          <label for="landmark">Landmark</label>
        <input type="text" class="form-control" name="landmark" id="landmark" placeholder="Landmark" value="{{useraddress.landmark}}" required>
        
         </div>
      </div>



        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" name="permanentaddress" class="form-control" id="address" value="{{useraddress.permanentaddress}}" placeholder="1234 Main St" required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

       
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="city">City</label>
            <select name="city" class="custom-select d-block w-100" id="city" required>
              <option value="">Choose...</option>
              <option value="Perumbavoor">Perumbavoor</option>
              <option value="Aluva">Aluva</option>

            </select>
            <div class="invalid-feedback">
              Please select a valid city.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">State</label>
            <input type="text" name="state" class="form-control" id="state" value="{{useraddress.state}}" placeholder="State" required>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" value="{{pincode}}" placeholder="" disabled >
                       <input type="text" name="pincode" class="form-control" id="" value="{{pincode}}" placeholder="" hidden >

            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
     <input type="text" name="price" value="{{Ttlamount}}" >
    <input type="text" name="coupon" value="{{coupon}}" >
    <input type="text" name="deliveryCharge" value="{{dlcharge}}" >
      <input type="text" name="ProductTotal" value="{{productTotal}}" >
      <input type="text" name="totalwithoutdelivery" value="{{total}}" >


        
        </div>
        <hr class="mb-4">
        <!-- <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="same-address">
          <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="save-info">
          <label class="custom-control-label" for="save-info">Save this information for next time</label>
        </div> -->
        <!-- <hr class="mb-4"> -->

      
      
    </div>


<div class="col-md-4 order-md-2 mb-4 ">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">3</span>
      </h4>
      

        {{#if coupon}}

<ul class="list-group list-group-flush"></ul>
        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
          Products
          <span>₹{{productTotal}}</span>
        </li>
         <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
          Coupon Applied
          <span>{{coupon}}</span>
        </li>
         <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
          Discounted Amount
          <span><strike>₹{{productTotal}}</strike><br>₹{{total}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center  border-0  px-0">
          Delivery
          <span>₹{{dlcharge}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
          <div>
            <strong>Total amount</strong>
            <strong>
              <p class="mb-0">(including GST)</p>
            </strong>
          </div>
          <span><strong>₹{{Ttlamount}}</strong></span>
        </li>
      </ul>


        {{else}}
<ul class="list-group list-group-flush"></ul>
        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
          Products
          <span>₹{{total}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
          Delivery
          <span>₹{{dlcharge}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
          <div>
            <strong>Total amount</strong>
            <strong>
              <p class="mb-0">(including GST)</p>
            </strong>
          </div>
          <span><strong>₹{{Ttlamount}}</strong></span>
        </li>
      </ul>

        {{/if}}
        
 
{{#if delivery}}
  <div class="payment">
                <p>Payment method</p>
                <label class="radio-inline">
                    <input type="radio" name="payment-method" value="COD"  >COD 
            
                </label>
                <br>
                <label class="radio-inline mt-2">
                    <input type="radio" name="payment-method" value="ONLINE" checked >ONLINE PAYMENT
                </label>
               

            </div>


{{else}}
  <div class="payment">
                <p>Payment method</p>
                <label class="radio-inline">
                    <input type="radio" name="payment-method" value="COD" disabled >COD (currently not available)
            
                </label>
                <br>
                <label class="radio-inline mt-2">
                    <input type="radio" name="payment-method" value="ONLINE" checked >ONLINE PAYMENT
                </label>
               

            </div>

{{/if}}
    

      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Make purchase
      </button>


    
    </div>
    </div>
    </form>
  

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021-2022 Cakey</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>


<script>
  

    $("#checkout-form").submit((e)=>{


       e.preventDefault()
        $.ajax({
            url:'/checkout',
            method:'post',
            data:$('#checkout-form').serialize(),
            success:(res)=>{
              
                if(res.cod_success){
                    location.href='/ordered-response?id=cod'
                }
                else{
                 
                    razorpayPayment(res)
                  
                }
                
                
            }
        })
    })


    function razorpayPayment (order){
        var options = {
    "key": "rzp_test_wwlKdN1HEsAggm", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "MohammedYaseen",
    "description": "Test Transaction",
    "image": "img/logo.png",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
       // alert(response.razorpay_payment_id);
       // alert(response.razorpay_order_id);
       // alert(response.razorpay_signature)

        verifyPayment(response,order)
    },
    "prefill": {
        "name": order.user.fullname ,
        "email":  order.user.emailaddress,
        "contact": order.user.mobnum
    },
    "notes": {
        "address":  order.user.permanentaddress
    },
    "theme": {
        "color": "#3399cc"
    }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();

    }
    function verifyPayment(payment,order){
        $.ajax({
            url:'/verify-payment',
            data:{
                payment,
                order
            },
            method:'post',
            success:(response)=>{
                if(response.status){
                    location.href='/ordered-response'
                }else{
                    alert('payment failed')
                }
            }
        })
    }
</script>