


<head>
  
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/user-profile.css">


    <style>
        #tab-1{
            display: block;
        }
        #tab-2,#tab-3{
            display: none;
        }
    </style>
</head>
<body>
<div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- My Account Page Start -->
                        <div class="myaccount-page-wrapper">
                            <!-- My Account Tab Menu Start -->
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                    <div class="myaccount-tab-menu nav" role="tablist">
                                        <a href="#dashboad"  data-toggle="tab"><i class="fa fa-dashboard"></i>
                                            Dashboard</a>
                                        <a href="#orders" class="active" data-toggle="tab" class=""><i class="fa fa-cart-arrow-down"></i> Orders</a>
                                        {{!-- <a href="#download" data-toggle="tab"><i class="fa fa-cloud-download"></i> Download</a> --}}
                                        {{!-- <a href="#payment-method" data-toggle="tab"><i class="fa fa-credit-card"></i> Payment
                                            Method</a> --}}
                                        <a href="#address-edit" data-toggle="tab" class=""><i class="fa fa-map-marker"></i> address</a>
                                        <a href="#account-info" data-toggle="tab" class=""><i class="fa fa-user"></i> Account Details</a>
                                        <a id="logout" href=""><i class="fa fa-sign-out"></i> Logout</a>
                                    </div>
                                </div>
                                <!-- My Account Tab Menu End -->
                                <!-- My Account Tab Content Start -->
                                <div class="col-lg-9 col-md-8">
                                    <div class="tab-content" id="myaccountContent">
                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade " id="dashboad" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>Dashboard</h3>
                                                <div class="welcome">
                                                    <p>Hello, <strong>{{user.fullname}}</strong> (If Not <strong>{{user.fullname}}!</strong><a href="#" class="logout"> Logout</a>)</p>
                                                </div>

                                                <p class="mb-0">From your account dashboard. you can easily check &amp; view your recent orders, manage your shipping and billing addresses and edit your password and account details.</p>
                                            </div>
                                        </div>
                                        <!-- Single Tab Content End -->
                                        <!-- Single Tab Content Start -->



    <div class="tab-pane fade active show" id="orders" role="tabpanel">


         <div class="order-desktop">
                               
              <div class="myaccount-content">
                       <button type="button" onclick="pending()" class="btn btn-outline-primary mb-3 " style="border-radius: 6px; padding: 7px;  " >Orders</button>
                       <button type="button" onclick="cancelled()" class="btn btn-outline-primary mb-3 ml-2" style="border-radius: 6px; padding: 7px;">Cancelled</button>
                       <button type="button" onclick="delivered()" class="btn btn-outline-primary mb-3 ml-2" style="border-radius: 6px; padding: 7px;">Buy Again</button>
                                  {{#each orders}}   
                                   {{#each this.product}}                
                     <div id="tab-1" class="myaccount-table table-responsive text-center">

                       <div class="card shadow-0 border mb-4">
                       <div class="card-body">

                  <div class="row " >
                    <div class="col-md-2">
                      <img src="/product-images/{{this.item}}1.jpg"
                        class="img-fluid" alt="Phone">
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 font-weight-bold">{{this.product.Name}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small font-weight-bold">Free Delivery</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small font-weight-bold">3.5 KG</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small font-weight-bold">Qty: {{this.quantity}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small font-weight-bold">₹{{this.product.Price}}</p>
                    </div>
                  </div>
            <a style="color: transparent;" href="/viewDetailedOrder?id={{../_id}}"><button type="button" class="btn btn-outline-primary d-flex ml-auto" >View Details</button></a>

                  {{!-- <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                  <div class="row d-flex align-items-center">
                    <div class="col-md-2">
                      <p class="text-muted mb-0 small">Track Order</p>
                    </div>
                    <div class="col-md-10">
                      <div class="progress" style="height: 6px; border-radius: 16px;">
                        <div class="progress-bar" role="progressbar"
                          style="width: 65%; border-radius: 16px; background-color: #5ab83d;" aria-valuenow="65"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="d-flex justify-content-around mb-1">
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for delivary</p>
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                      </div>
                    </div>
                  </div> --}}
                </div>
              </div> 
                   </div>
                    {{/each}}
 {{/each}}


   {{#each cnOrders}}   
                                   {{#each this.product}}                
                     <div  id="tab-2" class="myaccount-table table-responsive text-center">

                       <div class="card shadow-0 border mb-4">
                       <div class="card-body">

                  <div class="row " >
                    <div class="col-md-2">
                      <img src="/product-images/{{this.item}}1.jpg"
                        class="img-fluid" alt="Phone">
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 font-weight-bold">{{this.product.Name}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small font-weight-bold">Free Delivery</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small font-weight-bold">3.5 KG</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small font-weight-bold">Qty: {{this.quantity}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small font-weight-bold">₹{{this.product.Price}}</p>
                    </div>
                  </div>
            <a style="color: transparent;" href="/viewDetailedOrder?id={{../_id}}"><button type="button" class="btn btn-outline-primary d-flex ml-auto" >View Details</button></a>

                  {{!-- <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                  <div class="row d-flex align-items-center">
                    <div class="col-md-2">
                      <p class="text-muted mb-0 small">Track Order</p>
                    </div>
                    <div class="col-md-10">
                      <div class="progress" style="height: 6px; border-radius: 16px;">
                        <div class="progress-bar" role="progressbar"
                          style="width: 65%; border-radius: 16px; background-color: #5ab83d;" aria-valuenow="65"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="d-flex justify-content-around mb-1">
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for delivary</p>
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                      </div>
                    </div>
                  </div> --}}
                </div>
              </div> 
                   </div>
                    {{/each}}
 {{/each}}


   {{#each dlOrders}}   
                                   {{#each this.product}}                
                     <div id="tab-3" class="myaccount-table table-responsive text-center">

                       <div class="card shadow-0 border mb-4">
                       <div class="card-body">

                  <div class="row " >
                    <div class="col-md-2">
                      <img src="/product-images/{{this.item}}1.jpg"
                        class="img-fluid" alt="Phone">
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 font-weight-bold">{{this.product.Name}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small font-weight-bold">Free Delivery</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small font-weight-bold">3.5 KG</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small font-weight-bold">Qty: {{this.quantity}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small font-weight-bold">₹{{this.product.Price}}</p>
                    </div>
                  </div>
            <a style="color: transparent;" href="/viewDetailedOrder?id={{../_id}}"><button type="button" class="btn btn-outline-primary d-flex ml-auto" >View Details</button></a>

                  {{!-- <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                  <div class="row d-flex align-items-center">
                    <div class="col-md-2">
                      <p class="text-muted mb-0 small">Track Order</p>
                    </div>
                    <div class="col-md-10">
                      <div class="progress" style="height: 6px; border-radius: 16px;">
                        <div class="progress-bar" role="progressbar"
                          style="width: 65%; border-radius: 16px; background-color: #5ab83d;" aria-valuenow="65"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="d-flex justify-content-around mb-1">
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for delivary</p>
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                      </div>
                    </div>
                  </div> --}}
                </div>
              </div> 
                   </div>
                    {{/each}}
 {{/each}}
                        </div>



                            </div>



 <div class="order-mobile ">
        <div class="myaccount-content">
            <button type="button" class="btn btn-outline-primary mb-3 ml-1" style="border-radius: 7px; padding: 8px; ">Orders</button>
            <button type="button" class="btn btn-outline-primary mb-3 ml-1" style="border-radius: 7px; padding: 8px;">Cancelled</button>
            <button type="button" class="btn btn-outline-primary mb-3 ml-1" style="border-radius: 7px; padding: 8px;">Buy Again</button>
                               {{#each orders}}   
                                   {{#each this.product}}                   
      <div class="myaccount-table table-responsive ">

         <div class="card shadow-0 border mb-4" style="border-radius:10px ;">
              <div class="card-body" >
                <img src="/product-images/{{this.item}}1.jpg"
                        class="col-6" style="float:left" alt="Phone">
                  <div class="row col-6"  >
                    
                    <div class="col-md-2 ">
                      <p class="text-muted mb-1 font-weight-bold">{{this.product.Name}}</p>
                    </div>
                    <div class="col-md-2 ">
                      <p class="text-muted mb-1 small font-weight-bold">Free Delivery</p>
                    </div>
                    <div class="col-md-2 ">
                      <p class="text-muted mb-1 small font-weight-bold">3.5 KG</p>
                    </div>
                    <div class="col-md-2 ">
                      <p class="text-muted mb-1 small font-weight-bold">Qty: {{this.quantity}}</p>
                    </div>
                    <div class="col-md-2 ">
                      <p class="text-muted mb-1 small font-weight-bold">₹{{this.product.Price}}</p>
                    </div>
                     <a style="color: transparent;" href="/viewDetailedOrder?id={{../_id}}"><button type="button" class="btn btn-outline-primary d-flex ml-auto" >View Details</button></a>

                  </div>
                  
                
          </div>
              </div>
                   </div>
  {{/each}}
 {{/each}}
                      </div>

                          </div>
  
  
  
  
  
  
  
                                    </div>
                                        <!-- Single Tab Content End -->
                                        <!-- Single Tab Content Start -->
                                        {{!-- <div class="tab-pane fade" id="download" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>Downloads</h3>
                                                <div class="myaccount-table table-responsive text-center">
                                                    <table class="table table-bordered">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th>Product</th>
                                                                <th>Date</th>
                                                                <th>Expire</th>
                                                                <th>Download</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Haven - Free Real Estate PSD Template</td>
                                                                <td>Aug 22, 2018</td>
                                                                <td>Yes</td>
                                                                <td><a href="#" class="check-btn sqr-btn "><i class="fa fa-cloud-download"></i> Download File</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td>HasTech - Profolio Business Template</td>
                                                                <td>Sep 12, 2018</td>
                                                                <td>Never</td>
                                                                <td><a href="#" class="check-btn sqr-btn "><i class="fa fa-cloud-download"></i> Download File</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div> --}}


                                        <!-- Single Tab Content End -->
                                        <!-- Single Tab Content Start -->
                                        {{!-- <div class="tab-pane fade" id="payment-method" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>Payment Method</h3>
                                                <p class="saved-message">You Can't Saved Your Payment Method yet.</p>
                                            </div>
                                        </div> --}}
                                        <!-- Single Tab Content End -->
                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade " id="address-edit" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>Billing Address</h3>
                                                <address>
                                                    <p><strong>{{user.fullname}}</strong></p>
                                                    <p>{{user.permanentaddress}}</p>
                                                    <p>{{user.pincode}}</p>
                                                        <p>Mobile: {{user.mobnum}}</p>
                                                </address>
                                                <a href="/edit-user-details" class="check-btn sqr-btn "><i class="fa fa-edit"></i> Edit Address</a>
                                            </div>
                                        </div>
                                        <!-- Single Tab Content End -->
                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade" id="account-info" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>Account Details</h3>
                                                <div class="account-details-form">
                                                    <form action="#">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="single-input-item">
                                                                    <label for="first-name" class="required" >Full Name</label>
                                                                    <input class="account-detailes-inputs" type="text" value="{{user.fullname}}"  disabled id="first-name">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="single-input-item">
                                                                    <label for="last-name" class="required">Mobile Number</label>
                                                                    <input type="text" disabled value="{{user.mobnum}}" id="last-name">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                              <div class="col-lg-12">
                                                        <div class="single-input-item">
                                                            <label for="display-name" class="required">Address</label>
                                                           
                                                            <textarea name="" placeholder="{{user.permanentaddress}}"  id="display-name" disabled cols="37" rows="3"></textarea>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        <div class="row">
                                                              <div class="col-lg-6">
                                                        <div class="single-input-item">
                                                            <label for="display-name" class="required">Pincode</label>
                                                            <input type="text" value="{{user.pincode}}" disabled id="display-name">
                                                        </div>
                                                        </div>
                                                          <div class="col-lg-6">
                                                        <div class="single-input-item">
                                                            <label for="email" class="required">Email Addres</label>
                                                            <input type="email" value="{{user.emailaddress}}" disabled id="email">
                                                        </div>
                                                        </div>
                                                        </div>
                                                         <a href="/edit-user-details" class="check-btn sqr-btn "><i class="fa fa-edit"></i> Edit Profile</a>
                                                        <fieldset>
                                                            <legend>Password change</legend>
                                                           
                                                        </fieldset>
                                                        <div class="single-input-item">
                                                            <button class="check-btn sqr-btn "  ><a href="/reset-password" style="color: white; text-decoration: none;" >Reset Password</a></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div> <!-- Single Tab Content End -->
                                    </div>
                                </div> <!-- My Account Tab Content End -->
                            </div>
                        </div> <!-- My Account Page End -->
                    </div>
                </div>
            </div>


<footer>


<script type="text/javascript">


function pending() {
document.getElementById("tab-1").style.display="block";
document.getElementById("tab-2").style.display="none";
document.getElementById("tab-3").style.display="none";

}

function cancelled() {
document.getElementById("tab-1").style.display="none";
document.getElementById("tab-2").style.display="block";
document.getElementById("tab-3").style.display="none";

}

function delivered() {
document.getElementById("tab-1").style.display="none";
document.getElementById("tab-2").style.display="none";
document.getElementById("tab-3").style.display="block";

}



 document.querySelector("#logout").addEventListener("click",(e)=>{
          e.preventDefault();
          swal({
  title: "Are you sure?",
  text: "Are you sure, want to logout!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
 
    swal("You! have been logout!", {
      icon: "success",
    }).then((value)=>{
  $.ajax({
                url:'/logout',
                type:'GET',
                success:function(data){
window.location.replace("http://localhost:3000");
                }
            });
    })


  } else {
    swal("Your imaginary file is safe!");
  }
});
           

            
            })
    
</script>


<style>

   @media (max-width: 991px) {
    .order-desktop {
        display: none;
    }

.order-mobile {
       display: block;
        
    }

   }
   

   @media (min-width: 991px) {
    
.order-mobile {
    display: none;
     
    }
 .order-desktop {
        display: block;
    }
   }


   .account-detailes-inputs{
    width: 80%;
   }
</style>



</body>






